/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #004080; /* Blue background */
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Container styles */
  .container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: #004080; /* Ensures no conflicting background color */
  }
  
  /* Logo styles */
  .logo {
    width: 300px;
    height: auto;
  }
  
  /* Title styles */
  .title {
    font-size: 2.2em;
    color: #ffffff;
    white-space: nowrap;
  }

  .small {
    margin-top: 100px;
  }
  
  /* Description styles */
  .description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: white;
  }
  
  /* Input container styles */
  .input-container {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0059b3;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  /* Button styles */
  .button {
    width: 80%; /* Reduced button width */
    padding: 10px;
    background-color: #4990d7;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0073e6;
  }
  
  /* Loading and error message styles */
  .loading,
  .error {
    margin-top: 20px;
    font-size: 1.2em;
    color: yellow;
  }
  
  /* Weather card styles */
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px; /* Increased padding for more height */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    width: 100%;
    max-width: 500px; /* Increased card width */
  }
  
  /* Responsive design */
  @media screen and (max-width: 768px) {
    .title {
      font-size: 1.8em;
    }
    
    .description {
      font-size: 1em;
    }
  
    .input {
      font-size: 0.9em;
    }
  
    .button {
      font-size: 0.9em;
    }
  
    .card {
      padding: 20px;
      max-width: 450px; /* Adjusted card width for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .title {
      font-size: 1.5em;
    }
  
    .description {
      font-size: 0.9em;
    }
  
    .input {
      font-size: 0.8em;
    }
  
    .button {
      font-size: 0.8em;
      width: 100%; /* Full-width button on small screens */
    }
  
    .card {
      padding: 15px;
      max-width: 400px; /* Further adjusted card width for very small screens */
    }
  }
  